.taskHeading{
    font-size:20px;
    font-family:"Roboto";
    color:black;
}

.addTask{
    font-size:15px;
    font-family:"Roboto";
    color:black;
    width:40vw;
}

.submitButton{
    font-size:15px;
    font-family:"Roboto";
    color: white;
    background-color: orangered;
    height:25px;
    width:50px;
    border:none;
    border-radius: 5px;
}



.homePage{
    background-image:url("https://thumbs.dreamstime.com/b/back-to-school-seamless-pattern-classroom-lesson-objects-science-education-42570593.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    height: 100vh;
  }

  form{
    display: flex;
    width:60vw;
    justify-content: space-between;
  }

  .sortingSection{
    align-self: flex-start;
    
    font-size:10px;
    margin:10px
  }
  
  @media screen and (min-width:400px){
    .taskHeading{
        font-size:30px;
        
    }
    
    .addTask{
        font-size:18px;
        
        width:50vw;
        height:30px;
    }
    
    .submitButton{
        font-size:20px;
        
        height:35px;
        width:70px;
        
    }
    form{
        
        width:70vw;
       
      }

      
      
    
    
      
  }

  @media screen and (min-width:768px){
    .taskHeading{
        font-size:40px;
        
    }
    
    .addTask{
        font-size:20px;
        
        width:60vw;
        height:35px;
    }
    
    .submitButton{
        font-size:22px;
        
        height:40px;
        width:80px;
        
    }
    form{
        
        width:80vw;
       
      }
    
    
      
  }

  @media screen and (min-width:768px){
    .taskHeading{
        font-size:50px;
        
    }
    
    .addTask{
        font-size:22px;
        
        width:65vw;
        
    }
    
    .submitButton{
        font-size:24px;
        
    }
   
    
    
      
  }