.taskHeading{
    font-size:20px;
    font-family:"Roboto";
    color:black;
}

.addTask{
    font-size:12px;
    font-family:"Roboto";
    color:black;
    width:60vw;
    max-width:400px;
    height:5vh;
}

.submitButton{
    font-size:10px;
    font-family:"Roboto";
    color: white;
    background-color: orangered;
    height:25px;
    width:25vw;
    max-width:80px;
    border:none;
    border-radius: 5px;
}



.homePage{
    background-image:url("https://thumbs.dreamstime.com/b/back-to-school-seamless-pattern-classroom-lesson-objects-science-education-42570593.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width:100vw
  }

  form{
    display: flex;
    width:90vw;
    max-width:600px;
    justify-content: space-between;
  }

  .sortingSection{
    align-self: flex-start;
   
    margin:10px;
    width:40vw;
    max-width:300px
  }
  select{
    width:80vw;
    max-width:200px;
    font-size:12px;
    height:4vh;
   

  }
  
  @media screen and (min-width:400px){
    .taskHeading{
        font-size:30px;
        
    }
    
    .addTask{
        font-size:15px;
        
    }
    
    
    .submitButton{
        font-size:20px;
        height:30px
        
        
        
    }
    select{
        font-size:14px;
    }
    
      
      
    
    
      
  }

  